@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* 10px */
    /* font-size: 62.5%; */
    overflow: auto;
  }
  
  body {
    /* 16px */
    /* font-size: 1.6rem; */
    overflow-x: hidden;
    @apply overflow-x-hidden text-black;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto 2xl:w-[1366px];
  }

  .exception-msg {
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    background-color: orangered;
    color: white;
  }
}

.container {
  @apply 2xl:max-w-[1664px];
}

/* Navigation */
.menu-item {
  @apply relative pl-8 md:pl-16 pr-4 lg:px-3 py-1 xl:px-5 lg:py-[10px];
}

.menu-item:first-child {
  @apply lg:pl-0;
}

.menu-item:first-child,
.menu-item:nth-child(4) {
  @apply lg:border-r border-r-grey-dark;
}

.menu-item:last-child {
  @apply lg:pr-0;
}

.menu-item a {
  @apply transition duration-200 ease-in-out underline-offset-4 hover:underline;
}


/* Swiper */
.swiper-pagination-bullets {
  @apply flex justify-center;
}

.swiper-pagination-bullet {
  @apply block w-5 h-5 mx-[6px] transition-colors bg-white rounded-full cursor-pointer border border-crimson hover:bg-crimson;
}

.swiper-pagination-bullet-active {
  @apply transition-colors bg-crimson;
}
